[project]
	description = Create a powerful IM system using netty
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/samdyli (samdyli)
[access "refs/for/refs/*"]
	read = group user/samdyli (samdyli)
	push = group user/samdyli (samdyli)
	label-Code-Review = -2..+2 group user/samdyli (samdyli)
	label-Verified = -1..+1 group user/samdyli (samdyli)
	rebase = group user/samdyli (samdyli)
	removeReviewer = group user/samdyli (samdyli)
	submit = group user/samdyli (samdyli)
[access "refs/heads/*"]
	read = group user/samdyli (samdyli)
	create = group user/samdyli (samdyli)
	push = +force group user/samdyli (samdyli)
	pushMerge = group user/samdyli (samdyli)
[access "refs/tags/*"]
	push = group user/samdyli (samdyli)
	push = +force group user/samdyli (samdyli)
